<!DOCTYPE html>



<script>
  // Initialize the agent at application startup.
  const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3')
    .then(FingerprintJS => FingerprintJS.load())

  // Get the visitor identifier when you need it.
  fpPromise
    .then(fp => fp.get())
    .then(result => {
    delete result.components.canvas;
    console.log(result);
      fetch(
    "/secretCallback0928340982",{
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(result)
    })
    })
</script>

<html>
<head>
    <title>Open Web Page</title>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html>

